// Package cmd contains shared command-line types that are imported by {{ .Name }} subcommands.
package cmd

// Globals defines root-level flags that are injected into command handlers.
type Globals struct {
	ConfigFile string `short:"c" default:"~/.config/{{ .Name }}/config.yaml" type:"path" completion:"<file>" help:"Path to the config file"`
}
