package main

import (
	"github.com/alecthomas/kong"
	"{{ .ModulePath }}/cmd"
	"{{ .ModulePath }}/cmd/{{ .Name }}/example"
	"github.com/rs/zerolog"
)

type CLI struct {
	cmd.Globals

	LogLevel *zerolog.Level   `short:"l" help:"Log level"`
	Version  kong.VersionFlag `short:"v" help:"Output version"`

	Example example.Command `cmd:"" help:"Example subcommand for new projects"`
}

func (c *CLI) AfterApply(cfg *cmd.Config) error {
	if err := cfg.LoadYAML(c.Globals.ConfigFile); err != nil {
		return err
	}

	if c.LogLevel != nil {
		cfg.LogLevel = *c.LogLevel
	}

	return nil
}
